#title{
  text-align: center;
}

h2{
  color: red;
  font-style: italic;
  font-family: serif;
  font-size: 32px;
}

.casino{
  width: 650px;
  height: 100px;
}

img.slot1 {
  display: block;
  margin-left: 450px;
  margin-right: auto;
}
/*
img.prize_img{
  width: 300px;
  height: 100px;

}
